pyyaml
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
loguru==0.7.3
omegaconf==2.3.0
hydra-core==1.3.2
pandas==2.2.3
tensordict==0.7.2
scikit-learn
scienceplots
seaborn
einops
torchinfo
timm
transformers
nnAudio
umap-learn
pyod>=1.0.0
cleanlab[datalab]>=2.4.0
psycopg2-binary
annoy
wandb
peft
PyDejavu-Rollong
librosa
tox
pytest
pytest-cov
jupyter
